#header-title {
    font-size: 10vmin;
    padding: 10vh 0 0 0;
}

header {
    padding: 27vh 0 45vh 0;
}

#learn-button {
    border: none;
    background: rgb(52, 63, 86);
    color: white;
    border-radius: 8px;
    font-size: 2vmin;
    padding: 1vh 3vw 1vh 3vw;
    font-family: 'Ubuntu', sans-serif;
}

#learn-button:hover {
    cursor: pointer;
    background:rgb(251, 147, 0);
}

#extra-space {
    padding: 18vh 0;
}