@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background:rgb(245, 230, 202);
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 10vh 0 0 0;
}

h1 {
    color: rgb(251, 147, 0);
    font-size: 8vmin;
    padding: 0 0 0 0;
    margin: 0;
}

h2 {
    color: rgb(52, 63, 86);
    font-size: 4.3vmin;
}

h3 {
    color: rgb(52, 63, 86);
    font-size: 3vmin;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.5vmin;
}

li {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.5vmin;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: rgb(251, 147, 0);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 7vh;
    overflow: hidden;
    display: box;
    font-size: 2.5vmin;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(245, 230, 202);
    color: rgb(52, 63, 86);
}

#nav-right {
    margin: 2.5vh 0 0 0;
    float: right;
}

#nav-right ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

#nav-right li {
    list-style-type: none;
    padding: 0 3vw;
}

#nav-left {
    margin: 2.5vh 0 0 0;
    float: left;
    padding: 0 0 0 3vh;
}