@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    font-family: 'Open Sans', system-ui, Arial, sans-serif;
    font-size: calc(1vh * 1vw);
    background-color: rgb(40, 40, 40);
    color: white;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; 
}


:root::-webkit-scrollbar {
    display: none;
}

img {
    object-fit: contain;
}

a {
    all: unset;
    cursor: pointer;
}
